.play-button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    user-select: none;
    z-index: 999;
    position: absolute;
    top: 45px;
    left: 45px;
}

.play-button:hover {
    background-color: rgba(240, 240, 240, 0.9);
}